
@{
    ViewBag.PanelTitle = "Tra cứu lý lịch viên chức";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    PHCN.NhanVien.Models.PHCNEntities db = new PHCN.NhanVien.Models.PHCNEntities();
    var listKhoaPhong = db.KhoaPhong.OrderBy(x => x.STT).Where(x => x.Xoa != true).ToList();
    var listLoaiHopDong = db.LoaiHopDong.OrderBy(x => x.STT).Where(x => x.Xoa != true).ToList();

    DateTime dateTimeNow = DateTime.Parse(DateTime.Now.ToShortDateString());
    string thoidiem = "";
    if (Request.QueryString["thoidiem"] == null || Request.QueryString["thoidiem"] == "")
    {
        thoidiem = dateTimeNow.ToShortDateString();
    } else
    {
        thoidiem = Request.QueryString["thoidiem"];
    }

    string baocao = "";
    if (Request.QueryString["baocao"] == null || Request.QueryString["baocao"] == "")
    {
        baocao = "lylichvienchuc";
    }
    else
    {
        baocao = Request.QueryString["baocao"];
    }

}

<script src="~/scripts/table2excel.min.js"></script>
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6">
                <label>Báo cáo</label>
                <select class="form-control" id="selectLoaiBaoCao">
                    <option value="lylichvienchuc" @((baocao == "lylichvienchuc")?"selected":"")>Lý lịch viên chức</option>
                    <option value="suckhoedinhky" @((baocao == "suckhoedinhky")?"selected":"")>Sức khỏe định kỳ</option>
                </select>
            </div>

            <div class="col-sm-6">
                <label>Thời điểm</label>
                <input type="text" placeholder="" class="form-control date" id="txtThoiDiem" value="@thoidiem" />
            </div>
            <div class="col-sm-12">
                <input type="text" placeholder="Họ tên nhân viên..." class="form-control" id="txtHoTenNhanVien" />
            </div>
            <div class="col-sm-12 text-right">
                <a href="javascript:void(0);" id="linkTuyChonNangCao">Tùy chọn nâng cao...</a>
            </div> 
        </div>
        
        @*<a href="javascript:void(0);" class="btn btn-default btn-block" id="btnTimKiemNangCao">Tìm kiếm nâng cao</a>*@
    </div>
    <div class="col-sm-4">
        <button class="btn btn-block btn-primary" id="btnTimKiem">Tìm kiếm</button>
        <button class="btn btn-default btn-block text-left" id="btnXuatExcel">Xuất Excel</button>
    </div>
    
    
    
</div>




<br />
<h4 style="text-align:center;" id="h3TenDanhSach">DANH SÁCH LÝ LỊCH VIÊN CHỨC</h4>
<div id="divDanhSachLyLichVienChuc">
    
</div>



<div class="modal" id="modalTuyChonNangCao">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Tùy chọn nâng cao</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12" id="divLoaiHopDong" style="">
                                <label>
                                    Loại hợp đồng
                                </label>
                                @foreach (var item in listLoaiHopDong)
                                {
                                    <div class="checkbox">
                                        <input type="checkbox" class="checkboxLoaiHopDong" id="checkboxLoaiHopDong_@item.MaLoaiHopDong" checked value="@item.MaLoaiHopDong">
                                        <label for="checkboxLoaiHopDong_@item.MaLoaiHopDong">@item.TenLoaiHopDong</label>
                                    </div>
                                }

                            </div>
                            <div class="col-sm-12" style="">
                                <hr />
                                <label>
                                    Khoa phòng
                                </label>

                                @foreach (var item in listKhoaPhong)
                                {
                                    <div class="checkbox">
                                        <input type="checkbox" class="checkboxKhoaPhong" id="checkboxKhoaPhong_@item.MaKhoa" checked value="@item.MaKhoa">
                                        <label for="checkboxKhoaPhong_@item.MaKhoa">@item.TenKhoa</label>
                                    </div>
                                }


                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-success" id="modalTuyChonNangCao_btnDongY">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script>
    var urlController = '@(HttpContext.Current.Request.Url.Scheme)://@(HttpContext.Current.Request.Url.Authority)/QuanLyNhanVien/';
</script>

<link href="~/Content/css/fixedTable.css?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))" rel="stylesheet" />
<script src="~/Content/js/fixedTable.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>
<script src="~/scripts/app_scripts/BaoCaoLyLichVienChuc.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>