
@{
    ViewBag.PanelTitle = "Nhập liệu thông tin nhân viên";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    PHCN.NhanVien.Models.PHCNEntities db = new PHCN.NhanVien.Models.PHCNEntities();

    PHCN.NhanVien.Models.NhanVien nv = new PHCN.NhanVien.Models.NhanVien();

    int id = 0; // route value: Id: mã nhân viên, tìm lý lịch của mã nhân viên này
    try
    {
        id = int.Parse(ViewContext.RouteData.Values["id"].ToString());
        nv = db.NhanVien.Find(id);
    }
    catch { }
    var hoTenTimKiem = "";
    try
    {
        hoTenTimKiem = Request.QueryString["hoten"].ToString();
    }
    catch { };
    var listKhoaPhong = db.KhoaPhong.Where(x => x.Xoa == false).OrderBy(x => x.STT).ToList();
    var listLyLichVienChuc = db.LyLichVienChuc.Where(x => x.MaNhanVien == id && (x.Xoa == false || x.Xoa == null)).OrderBy(x => x.MaLyLichVienChuc).ToList();
    var listSoKSK = db.SoKSK.Where(x => x.MaNhanVien == id && x.Xoa != true).OrderBy(x => x.MaSoKSK).ToList();


    PHCN.NhanVien.Models.LyLichVienChuc lylich = new PHCN.NhanVien.Models.LyLichVienChuc();
    PHCN.NhanVien.Models.HinhAnh hinhDaiDien = new PHCN.NhanVien.Models.HinhAnh();
    string duongDanHinhDaiDien = "/Content/img/default-avatar.png";

    if (listLyLichVienChuc.Any())
    {
        lylich = listLyLichVienChuc.Last();
        List<PHCN.NhanVien.Models.HinhAnh> listHinhAnh = new List<PHCN.NhanVien.Models.HinhAnh>();
        listHinhAnh = db.HinhAnh.Where(x => x.LoaiHinhAnh == "avatar" && x.MaLyLichVienChuc == lylich.MaLyLichVienChuc).ToList();
        if (listHinhAnh.Any())
        {
            duongDanHinhDaiDien = "/Content/ImageAvatar/" + listHinhAnh.Last().TenFileDayDu;
        }
    }



}

<style>
    #tableLyLich * {
        border: 0px;
        font-size:12px;
    }
    #tableDanhSachNhanVien td {
        border-bottom:1px solid #eeeeee;
    }
    #tableDanhSachNhanVien a {
        color: #004f02;
        display:block;
    }
    #tableDanhSachNhanVien a:hover {        
        color: #00810b;
    }
</style>

<div class="row">

    <div class="col-md-8">
        <form method="get" action="@Url.Action("Xem", "QuanLyNhanVien")">
            <div class="input-group form-search">
                <input class="form-control search-query" type="text" placeholder="Họ tên nhân viên.." name="hoten" value="@hoTenTimKiem">
                <span class="input-group-btn">
                    <button data-type="last" class="btn btn-primary" type="submit">Tìm kiếm</button>
                </span>
            </div>
        </form>
    </div>
    @*<div class="col-md-4">
        <a href="@Url.Action("NhanVien", "Admin")" class="btn btn-default pull-right" style=""> <i class=" glyphicon glyphicon-user "></i> Tài khoản & Nhân viên</a>
    </div>*@
    
</div>
<br/>
<div class="row">
    
    
        
    
    <div class="col-sm-3" style="max-height:600px; overflow-y:scroll;  box-shadow:2px 2px 2px #808080; border:1px solid #808080; margin-bottom:10px; margin-left:2%;">
        <div>

            <div class="row">

                <div class="col-xs-12 pull-left">
                    <table class="table table-condensed table-hover" id="tableDanhSachNhanVien">
                        <thead>
                            <tr>
                                <th style="width:3%; text-align:center;">#</th>
                                <th style="width:97%;">Họ tên</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var khoaphong in listKhoaPhong)
                            {
                                var listNhanVien = khoaphong.NhanVien.Where(x => x.Xoa == false && (hoTenTimKiem == "" || x.HoTen.ToLower().Contains(hoTenTimKiem.ToLower()))).OrderBy(x => x.STT).ThenBy(x => x.HoTen).ToList();
                                if (listNhanVien.Any())
                                {
                                    <tr>
                                        <td colspan="2" style="">
                                            <strong>@khoaphong.MaKhoa - @khoaphong.TenKhoa</strong>
                                        </td>
                                    </tr>
                                    foreach (PHCN.NhanVien.Models.NhanVien nhanvien in listNhanVien)
                                    {
                                        <tr>
                                            <td style="text-align:center;">
                                                @nhanvien.STT
                                            </td>
                                            <td>
                                                <a style="display:block; width:100%;" href="@Url.Action("Xem", "QuanLyNhanVien", new { @id = nhanvien.MaNhanVien, @hoten = hoTenTimKiem })">
                                                    @nhanvien.HoTen
                                                </a>
                                            </td>


                                        </tr>
                                    }
                                }
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        
        
    </div>
    @if (id == 0)
    {
        <div class="col-sm-8">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Mời chọn nhân viên...
            </div>
        </div>

    }
    else
    {
        



        <div class="col-sm-8">

            
            

            <div class="panel panel-success" style="box-shadow:2px 2px 2px #808080; border:1px solid #808080;">
                <div class="panel-heading" style="background-color:#004f02;">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-user"></i> <strong>@nv.HoTen</strong> - @nv.KhoaPhong.TenKhoa</h3>
                </div>
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="glyphicon glyphicon-folder-open"></i> &nbsp; Lý lịch viên chức</h3>
                        </div>
                        <div class="panel-body">
                            <div class="tab-pane fade active in" id="lylich">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img src="@duongDanHinhDaiDien" class="" style="width:100%; border:1px solid #808080; padding:2px; margin:10px; margin-left:0px;" />
                                    </div>
                                    <div class="col-xs-9">
                                        @if (listLyLichVienChuc.Any())
                                        {

                                            var lyLichVienChuc = listLyLichVienChuc.Last();

                                            <div id="thongtinLyLich" style="">

                                                <table class="table" id="tableLyLich" style="width:75%;">
                                                    <tr>
                                                        <th style="width:30%;">Họ và tên</th>
                                                        <td>@lyLichVienChuc.HoTenKhaiSinh</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Ngày sinh</th>
                                                        <td>@( (((lyLichVienChuc.NgaySinh != null) ? (lyLichVienChuc.NgaySinh.ToString().PadLeft(2, '0') + "/") : "") + ((lyLichVienChuc.ThangSinh != null)?(lyLichVienChuc.ThangSinh.ToString().PadLeft(2, '0') + "/"):"") + (lyLichVienChuc.NamSinh.ToString())))</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Giới tính</th>
                                                        <td>@(((lyLichVienChuc.GioiTinh == 1) ? "Nam" : "") + "" + ((lyLichVienChuc.GioiTinh == 2) ? "Nữ" : ""))</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Nơi ở hiện nay</th>
                                                        <td>
                                                            @(lyLichVienChuc.NoiOHienNay_SoNha + 
                                                                ((lyLichVienChuc.NoiOHienNay_SoNha!= null)?", ":"") + 
                                                                lyLichVienChuc.NoiOHienNay_Duong + 
                                                                ((lyLichVienChuc.NoiOHienNay_Duong!= null) ? ", " : "") + 
                                                                lyLichVienChuc.NoiOHienNay_Xa + 
                                                                ((lyLichVienChuc.NoiOHienNay_Xa != null) ? ", " : "") + 
                                                                lyLichVienChuc.NoiOHienNay_Huyen + 
                                                                ((lyLichVienChuc.NoiOHienNay_Huyen!= null) ? ", " : "") + 
                                                                lyLichVienChuc.NoiOHienNay_Tinh)
                                                        </td>
                                                    </tr>
                                                    <tr style="">
                                                        <th>Hợp đồng</th>
                                                        <td>@lyLichVienChuc.LoaiHopDong.TenLoaiHopDong</td>
                                                    </tr>
                                                </table>

                                                <a href="@Url.Action("CapNhat", "QuanLyLyLichVienChuc", new { @id = lyLichVienChuc.MaLyLichVienChuc})" class="btn btn-primary btn-block" style="margin-bottom:10px;">Cập nhật</a>

                                            </div>
                                        }
                                        else
                                        {
                                            <span>Chưa có lý lịch viên chức, hãy bắt đầu thêm mới...</span>


                                            <br /><br />
                                            <div class="text-center">

                                                <a href="@Url.Action("TaoLyLichVienChuc", "QuanLyNhanVien", new { @id = id})" class="btn btn-primary btn-block" style="margin-bottom:10px;">Thêm lý lịch viên chức</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                
                                







                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="glyphicon glyphicon-hand-right"></i> &nbsp; Sức khỏe định kỳ</h3>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-xs-3">
                                    @if (listSoKSK.Any())
                                    {
                                        var soKSK = listSoKSK.Last();
                                        var listLuotKSK = db.LuotKSK.Where(x => x.MaSoKSK == soKSK.MaSoKSK && x.Xoa == false && x.Ngay != null).OrderByDescending(x => x.Ngay);

                                        if (listLuotKSK.Any())
                                        {
                                            <ul>
                                                @foreach (var item in listLuotKSK)
                                                {
                                                    <li><a href="@Url.Action("LuotKham", "QuanLySucKhoe", new { @id = item.MaLuotKSK})">@(DateTime.Parse(item.Ngay.ToString()).ToShortDateString())</a></li>
                                                }

                                            </ul>
                                        }
                                        
                                    }
                                    
                                </div>
                                <div class="col-xs-9">
                                    @if (listSoKSK.Any())
                                    {
                                        var soKSK = listSoKSK.Last();
                                        var listLuotKSK = db.LuotKSK.Where(x => x.MaSoKSK == soKSK.MaSoKSK && x.Xoa != true && x.Ngay != null).OrderByDescending(x => x.Ngay);

                                        <a href="@Url.Action("CapNhat", "QuanLySucKhoe", new { @id = soKSK.MaSoKSK})" class="btn btn-primary btn-block">Cập nhật</a>
                                    }
                                    else
                                    {
                                        <span>Chưa có sổ KSK, hãy bắt đầu thêm mới...</span>
                                        <br /><br />
                                        <a href="@Url.Action("TaoSoKSK", "QuanLySucKhoe", new { @id = nv.MaNhanVien})" class="btn btn-primary btn-block">Thêm sổ khám sức khỏe</a>
                                    }
                                </div>
                            </div>
                            

                            
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> <i class="glyphicon glyphicon-phone-alt"></i> &nbsp; Thông tin liên hệ</h3>
                        </div>
                        <div class="panel-body" id="divThongTinLienHe">
                        </div>
                    </div>
                </div>
            </div>


            
        </div>
    }
</div>







<div class="modal" id="modalThongTinLienHe">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thông tin liên hệ</h4>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">
                        <strong>Email</strong>
                        <input type="text" class="form-control" id="modalLienHe_txtEmail" value="@nv.Email" />
                    </div>
                </div>
                <div class="row">


                    <div class="col-md-12">
                        <strong>Điện thoại</strong>
                        <input type="text" class="form-control" id="modalLienHe_txtDienThoai" value="@nv.SoDienThoai" />
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <strong>Điện thoại nội bộ</strong>
                        <input type="text" class="form-control" id="modalLienHe_txtDienThoaiNoiBo" value="@nv.SoDienThoaiNoiBo" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-manhanvien="@nv.MaNhanVien" id="modalThongTinLienHe_btnLuu">Lưu thông tin</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
<div class="modal" id="modalDoiMatKhau">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Đổi mật khẩu</h4>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">
                        <strong>Tên đăng nhập</strong>
                        <input type="text" class="form-control disabled" id="modalDoiMatKhau_txtTenDangNhap" value="@nv.TenDangNhap" disabled="disabled" />
                    </div>
                </div>
                @*<div class="row">

                        <div class="col-md-12">
                            <strong>Mật khẩu cũ</strong>
                            <input type="password" class="form-control" id="modalDoiMatKhau_txtMatKhauCu" />
                        </div>
                    </div>*@
                <div class="row">

                    <div class="col-md-12">
                        <strong>Mật khẩu mới</strong>
                        <input type="password" class="form-control" id="modalDoiMatKhau_txtMatKhauMoi" />
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <strong>Nhập lại mật khẩu mới</strong>
                        <input type="password" class="form-control" id="modalDoiMatKhau_txtNhapLaiMatKhauMoi" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <span style="color:red; margin-right:10px;" id="modalDoiMatKhau_spanThongBao"></span>
                <button type="button" class="btn btn-success" data-manhanvien="@nv.MaNhanVien" id="modalDoiMatKhau_btnLuu">Lưu thông tin</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>




<script>
    var _ajaxManager = '@(HttpContext.Current.Request.Url.Scheme)://@(HttpContext.Current.Request.Url.Authority)/AjaxManager/';
    var _ajaxThisUrl = '@(HttpContext.Current.Request.Url.Scheme)://@(HttpContext.Current.Request.Url.Authority)/QuanLyNhanVien/';
    var _maNhanVien = '@nv.MaNhanVien';
</script>

<script src="~/scripts/jquery.mask.js"></script>
<script src="~/scripts/core-scripts/sweetalert2.all.min.js"></script>
<script src="~/scripts/core-scripts/th.core.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>
<script src="~/scripts/app_scripts/QuanLyNhanVien.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>