@model PHCN.NhanVien.Models.NhanVien
@{
    ViewBag.Title = "ThongTinNhanVien";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.PanelTitle = "Nhân viên";

    List<PHCN.NhanVien.Models.KhoaPhong> listKhoaPhong = (List<PHCN.NhanVien.Models.KhoaPhong>)ViewBag.ListKhoaPhong;
}

<form novalidate="" id="formThongTinNhanVien" role="form" class="form-horizontal" method="post" action="@Url.Action("LuuThongTinNhanVien", "Admin")">
    <div class="form-group">
        <label class="col-md-2 control-label">Số thứ tự:</label>
        <div class="col-md-10">                                                      
            @Html.TextBoxFor(x => x.STT, new { @id = "txtSTT", @class = "form-control"})
            @Html.HiddenFor(x => x.MaNhanVien)
            @if (Model.MaNhanVien == 0)
            {
                @Html.Hidden("mode", "add")
            }
            else
            {
                @Html.Hidden("mode", "edit")
            }
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Họ tên:</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.HoTen, new { @id = "txtHoTen", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Khoa phòng:</label>
        <div class="col-md-10">
            <select class="form-control" name="MaKhoa" id="selectMaKhoa">
                <option value=""> - chọn khoa phòng - </option>
                @foreach (var item in listKhoaPhong)
                {
                    <option value="@item.MaKhoa" @((item.MaKhoa == Model.MaKhoa)?"selected='selected'":"")>@item.MaKhoa - @item.TenKhoa</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Tên đăng nhập:</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.TenDangNhap, new { @id = "txtTenDangNhap", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Mật khẩu:</label>
        <div class="col-md-10">
            
            @if (Model.MaNhanVien > 0)
            {
                <div>@Html.HiddenFor(x => x.MatKhau, new { @id = "txtMatKhau", @class = "form-control" })</div>
                <a href="javascript:void(0);" id="btnDoiMatKhau">Đổi mật khẩu</a>
            }
            else
            {
                <div>
                    <span>(mặc định: 123)</span>
                    @Html.HiddenFor(x => x.MatKhau, new { @id = "txtMatKhau", @class = "form-control" })
                </div>
            }

        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.CheckBoxFor(x => x.NhanThu)
            @Html.LabelFor(x => x.NhanThu, "Cho phép nhận thư", new { @style="font-weight:normal; font-size:14px; margin-left:10px"})
        </div>
    </div>
    <div class="form-group">
        
        <div class="col-md-offset-2 col-md-10">            
            <button class="btn btn-primary" type="submit" id="btnLuu">Lưu thông tin</button>
            @if (Model.MaNhanVien > 0)
            {
                <button class="btn btn-danger" type="button" id="btnXoa">Xóa</button>
            }            
            <a href="@Url.Action("NhanVien", "Admin")" class="btn btn-default" type="button" >Trở lại danh sách</a>
        </div>
    </div>
</form>

<div class="modal" id="modalDoiMatKhau">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Đổi mật khẩu</h4>
            </div>
            <div class="modal-body">                
                <div class="row">
                    <div class="col-xs-12">
                        <label>Mật khẩu mới</label>
                        <input class="form-control" type="password" id="modalDoiMatKhau_txtMatKhauMoi">
                    </div>
                    <div class="col-xs-12">
                        <label>Nhập lại mật khẩu mới</label>
                        <input class="form-control" type="password" id="modalDoiMatKhau_txtNhapLaiMatKhauMoi">
                    </div>                    
                </div>                
            </div>
            <div class="modal-footer">
                <span style="color:red; margin-right:10px;" id="modalDoiMatKhau_spanThongBao"></span>
                <button type="button" class="btn btn-success" id="modalDoiMatKhau_btnLuu">Lưu thông tin</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>                
            </div>
        </div>
    </div>
</div>

<script>
    var _ajaxManager = '@(HttpContext.Current.Request.Url.Scheme)://@(HttpContext.Current.Request.Url.Authority)/AjaxManager/';    
    var _maNhanVien = '@Model.MaNhanVien';
</script>


<script src="~/scripts/core-scripts/sweetalert2.all.min.js"></script>
<script src="~/scripts/core-scripts/th.core.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>
<script>
    $("#formThongTinNhanVien").submit(function (e) {

        if ($("#txtSTT").val() == "") {
            alert("Nhập số thứ tự");
            e.preventDefault(e);
            return;
        }
        if ($("#txtHoTen").val() == "") {
            alert("Nhập họ tên");
            e.preventDefault(e);
            return;
        }
        if ($("#selectMaKhoa").val() == "") {
            alert("Chọn khoa phòng");
            e.preventDefault(e);
            return;
        }
        if ($("#txtTenDangNhap").val() == "") {
            alert("Nhập tên đăng nhập");
            e.preventDefault(e);
            return;
        }
        if ($("#txtMatKhau").val() == "") {
            alert("Nhập mật khẩu");
            e.preventDefault(e);
            return;
        }
        
        

    });


    $("#txtSTT").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });


    $("#btnXoa").click(function () {
        if (confirm("Bạn thật sự muốn xóa nhân viên ?") == false) {
            return;
        }
        var url = '@Url.Action("DanhDauXoaNhanVien", "Admin", new { maNhanVien = Model.MaNhanVien})';
        window.location = url;
    });

    $("#btnDoiMatKhau").unbind("click").click(function () {
        $("#modalDoiMatKhau").modal("show");
        bindbtn_modalDoiMatKhau_btnLuu();

    });

    function bindbtn_modalDoiMatKhau_btnLuu() {
        $("#modalDoiMatKhau_btnLuu").unbind("click").click(function () {
            
            var matKhauMoi = $("#modalDoiMatKhau_txtMatKhauMoi").val();
            var nhapLaiMatKhauMoi = $("#modalDoiMatKhau_txtNhapLaiMatKhauMoi").val();

            
            if (matKhauMoi == "") {
                $("#modalDoiMatKhau_spanThongBao").html("Nhập mật khẩu mới");
                return;
            }
            if (nhapLaiMatKhauMoi == "") {
                $("#modalDoiMatKhau_spanThongBao").html("Nhập lại mật khẩu mới");
                return;
            }
            if (matKhauMoi != nhapLaiMatKhauMoi) {
                $("#modalDoiMatKhau_spanThongBao").html("Nhập lại mật khẩu mới chưa trùng khớp");
                return;
            }
            var _url = _ajaxManager + "DoiMatKhauNhanVien";
            var _param = { id: _maNhanVien, MatKhauMoi: matKhauMoi }
            thAjaxAction(_url, _param, successDoiMatKhau);
        });
    }
    function successDoiMatKhau(result) {
        if (result == "ok") {
            //$("#modalDoiMatKhau_txtMatKhauCu").val("");
            $("#modalDoiMatKhau_txtMatKhauMoi").val("");
            $("#modalDoiMatKhau_txtNhapLaiMatKhauMoi").val("");
            $("#modalDoiMatKhau_spanThongBao").html("");
            $("#modalDoiMatKhau").modal("hide");
            thAlertShowSuccess("Đã đổi mật khẩu");
            return;
        } else {
            //$("#modalDoiMatKhau_txtMatKhauCu").val("");
            $("#modalDoiMatKhau_txtMatKhauMoi").val("");
            $("#modalDoiMatKhau_txtNhapLaiMatKhauMoi").val("");
            $("#modalDoiMatKhau_spanThongBao").html("");
            $("#modalDoiMatKhau").modal("hide");
            alert("Lỗi hệ thống, vui lòng liên hệ quản trị: " + result);
            return;
        }
    }
</script>
