@model PHCN.NhanVien.Models.BaiVietWeb
@{
    ViewBag.PanelTitle = "Bài viết";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    PHCN.NhanVien.Models.PHCNEntities db = new PHCN.NhanVien.Models.PHCNEntities();

    var listChuyenMuc = db.ChuyenMuc.OrderBy(x => x.STT).Where(x => x.Xoa == false).ToList();

    

}

<script src="~/Content/ckeditor/ckeditor.js"></script>
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/scripts/jquery.mask.js"></script>
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/scripts/jquery.form.min.js"></script>

<div class="row">
    <div class="col-xs-12">
        
            <div class="form-group">
                <label for="txtTieuDe">Tiêu đề</label>
                <input class="form-control" id="txtTieuDe" placeholder="" />
            </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <label>Chuyên mục</label>
        <select id="selectChuyenMuc" class="form-control">

            <option value=""></option>
            @foreach (var item in listChuyenMuc)
            {
                <option value="@item.MaChuyenMuc" @((Model.MaChuyenMuc == item.MaChuyenMuc) ? "selected='selected'":"")>@item.TenChuyenMuc</option>
            }

        </select>

    </div>
    <div class="col-md-6">

        <label>Ngày đăng</label>
        <input type="text" class="date form-control disabled" disabled="disabled" value="@Model.Ngay" />

    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">

                <label>Ảnh đại diện</label>
                <br/>
                <style>
                    .hinhanh {
                        width:100%;                         
                        background-color:#fefefe;
                        border:1px solid #ebebeb; 
                        text-align:center; 
                        
                        font-size:16px; 
                        color:#c3c3c3;
                        position:relative;
                        display:block;
                    }
                    .hinhanh:hover {
                        box-shadow:gray 2px 2px 3px;
                        top:-2px;
                        left:-2px;
                        cursor:pointer;
                    }
                     
                </style>
                <a id="divAnhDaiDien" class="hinhanh">
                    <img id="imgAnhDaiDien" src="@((Model.MaHinhAnh != null) ? (Model.HinhAnh.DuongDan + Model.HinhAnh.TenFileDayDu) : Url.Content("~/Content/ImageManager/ClickChonAnhDaiDien.jpg"))" style="width:100%;" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <label>Tóm tắt</label>
                <textarea id="txtTomTat" class="form-control"></textarea>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Nội dung</label>
                <textarea id="txtNoiDung"></textarea>
                <script>
                    CKEDITOR.replace('txtNoiDung');
                    CKEDITOR.config.height = 450;
                </script>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Tác giả bài viết</label>
                <input type="text" class="date form-control" value="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Thiết lập</label>
                <div class="clear"></div>
                <label style="font-weight:normal;">
                    <input type="checkbox" checked="checked" /> Hiển thị bài viết trên trang chủ
                </label>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label style="font-weight:normal;">Tên đường dẫn</label>
                <div class="clear"></div>
                <input type="text"  class="form-control" id="txtRewriteTieuDe" />

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Cập nhật lần cuối</label>
                <div class="clear"></div>
                <label style="font-weight:normal;">
                    09/09/2018 03:30PM - bởi <a href="#">Nguyễn Hồng Thanh</a>
                </label>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <label>Đính kèm</label>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> <i class="glyphicon glyphicon-picture"></i> Hình ảnh</h3>
                
                
            </div>
            <div class="panel-body">


                <div id="divDanhSachHinhAnh" data-mabaiviet="@Model.MaBaiViet">

                </div>
                
                
                
                <form id="formUploadHinhAnhWeb" action="@Url.Action("UploadFileHinhAnhWeb", "Upload")" method="post" enctype="multipart/form-data">
                    <input type="file" id="fileuploadHinhAnh" style="display:none;" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp"  />
                    <input type="hidden" value="@Model.MaBaiViet" name="id" />  
                    <a href="javascript:void(0);" class="btn btn-default btn-block" id="btnThemHinhAnh"><i class="glyphicon glyphicon-plus"></i> Thêm</a>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-file"></i> Tài liệu</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-default  btn-block"><i class="glyphicon glyphicon-plus"></i> Thêm</button>
            </div>
        </div>
    </div>
</div>



<div style="position:fixed; bottom:10px; right:10px;">
    <a class="btn btn-lg btn-default" id="btnTroVeDanhSach" href="/QuanLyNhanVien/Xem/3">Trở về danh sách</a>
    <button class="btn btn-lg btn-success" id="btnLuu" data-malylichvienchuc="46">Lưu dữ liệu</button>
</div>


<script>
    var _ajaxUrl = '@(HttpContext.Current.Request.Url.Scheme)://@(HttpContext.Current.Request.Url.Authority)/AjaxManager/';
    var _ajaxThisUrl = '@(HttpContext.Current.Request.Url.Scheme)://@(HttpContext.Current.Request.Url.Authority)/QuanLyBaiViet/';

</script>

<script src="~/scripts/core-scripts/sweetalert2.all.min.js"></script>
<script src="~/scripts/core-scripts/th.core.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>
<script src="~/scripts/app_scripts/CapNhatBaiVietWeb.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>