
@{
    ViewBag.PanelTitle = "Danh sách bài viết";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


    PHCN.NhanVien.Models.PHCNEntities db = new PHCN.NhanVien.Models.PHCNEntities();
    var listChuyenMuc = db.ChuyenMuc.Where(x => x.Xoa == false).OrderBy(x => x.STT).ThenBy(x => x.MaChuyenMuc).ToList();


    string chuyenmuc = "";
    string timkiem = "";

    try
    {
        chuyenmuc = Request.QueryString["chuyenmuc"].ToString();
    }
    catch { }
    try
    {
        timkiem = Request.QueryString["timkiem"].ToString();
    }
    catch { }

    
    var listBaiViet = db.BaiVietWeb.OrderByDescending(x => x.MaBaiViet).Where(x => (x.TieuDe.Contains(timkiem) || timkiem == "") && (x.MaChuyenMuc.ToString() == chuyenmuc || chuyenmuc == "")).ToList();
}

<div class="row">
    <form method="get" action="@Url.Action("Index", "QuanLyBaiViet")">
        
        <div class="col-md-6">

            <div class="input-group form-search">
                <input class="form-control search-query" id="txtTimKiem" type="text" placeholder="Tên bài viết ..." name="timkiem" value="@timkiem">
                <span class="input-group-btn">
                    <button data-type="last" class="btn btn-primary" type="submit">Tìm kiếm</button>
                </span>
            </div>

        </div>
        <div class="col-md-6">
            <select class="form-control" name="chuyenmuc">
                <option value=""> - Tất cả chuyên mục - </option>
                @foreach (var item in listChuyenMuc)
                {
                    <option value="@item.MaChuyenMuc" @((item.MaChuyenMuc.ToString() == chuyenmuc) ? "selected='selected'" : "")>@item.TenChuyenMuc</option>
                }
            </select>
        </div>

    </form>
    

</div>
<br />

<div style="width:100%; height:400px; overflow:scroll;" id="divDanhSachBaiViet">
    <table class="table table-condensed" style="font-size:12px;">
        <thead>
            <tr>
                <th style="width:3%">#</th>
                <th style="width:37%">Tiêu đề</th>
                <th style="width:20%">Chuyên mục</th>
                <th style="width:10%">Hoạt động</th>
                <th style="width:15%">Người đăng</th>
                <th style="width:15%">Ngày</th>                
            </tr>
            @foreach (var item in listBaiViet)
            {
                <tr>
                    <td style="width:3%">
                        <input type="checkbox" class="checkboxChonBaiViet" data-mabaiviet="@item.MaBaiViet" />
                    </td>
                    <td style="width:37%">
                        <a href="@Url.Action("CapNhat", "QuanLyBaiViet", new { @id = item.MaBaiViet, @timkiem = timkiem, @chuyenmuc = chuyenmuc})">@item.TieuDe</a>
                    </td>
                    <td style="width:20%">@item.ChuyenMuc.TenChuyenMuc</td>
                    <td style="width:10%; text-align:center;">
                        <input type="checkbox" class="disabled" @((item.HienThiTrenTrangChu == true)? " checked='checked' ":"") disabled="disabled"  />
                    </td>
                    <td style="width:15%">
                        @item.NhanVien.HoTen
                    </td>
                    <td style="width:15%">
                        @item.Ngay
                    </td>
                </tr>
            }

            

        </thead>
        <tbody></tbody>
    </table>
</div>
<br/>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <button class="btn btn-success" style="margin-bottom:10px;">Thêm bài mới</button>
            <button class="btn btn-default" id="btnNgungHoatDong" style="margin-bottom:10px;">Ngưng hoạt động</button>
            <button class="btn btn-default" style="margin-bottom:10px;">Xóa</button>
        </div>
    </div>
</div>

<script>
    var _ajaxUrl = '@(HttpContext.Current.Request.Url.Scheme)://@(HttpContext.Current.Request.Url.Authority)/AjaxManager/';
    var _ajaxThisUrl = '@(HttpContext.Current.Request.Url.Scheme)://@(HttpContext.Current.Request.Url.Authority)/QuanLyBaiViet/';
</script>

<script src="~/scripts/core-scripts/sweetalert2.all.min.js"></script>
<script src="~/scripts/core-scripts/th.core.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>
<script src="~/scripts/app_scripts/DanhSachBaiViet.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>

