@model List<PHCN.NhanVien.Models.SoKSK_Benh>

@if (Model.Any())
{

    <table class="table">
        <tr>
            <th style="width:55%;">Tên bệnh</th>
            <th style="width:15%; text-align:center;">Bệnh nghề nghiệp</th>
            <th style="width:15%; text-align:center;">Phát hiện năm</th>
            <th style="width:15%;"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenBenh</td>
                <td style="text-align:center;">
                    <input type="checkbox" @((item.BenhNgheNghiep) ? "checked='checked'" : "")  disabled="disabled"/>
                </td>
                <td style="text-align:center;">@item.PhatHienNam</td>
                <td style="text-align:center;">
                    <a href="javascript:void(0);" data-mabenh="@item.MaBenh" class="rowSuaBenhKSK btn btn-xs btn-default">
                        <i class="glyphicon glyphicon-pencil"></i>
                        ...
                    </a>
                    <a href="javascript:void(0);" data-mabenh="@item.MaBenh" class="rowXoaBenhKSK btn btn-xs btn-default">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
        }

    </table>

}



