@model PHCN.NhanVien.Models.LyLichVienChuc
@{



    ViewBag.PanelTitle = "SƠ YẾU LÝ LỊCH VIÊN CHỨC";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";





    var db = new PHCN.NhanVien.Models.PHCNEntities();
    var listDonVi = db.DonVi.Where(x => x.Xoa == false).OrderBy(x => x.STT).ToList();
    var listLoaiHopDong = db.LoaiHopDong.Where(x => x.Xoa == false).OrderBy(x => x.STT).ToList();
    var listDanToc = db.DanToc.Where(x => x.Xoa == false).OrderBy(x => x.STT).ToList();
    var listTonGiao = db.TonGiao.Where(x => x.Xoa == false).OrderBy(x => x.STT).ToList();
    var listChucDanhNgeNghiep = db.ChucDanhNgheNghiep.Where(x => x.Xoa == false).OrderBy(x => x.STT).ToList();
    var listHinhThucDaoTao = db.HinhThucDaoTao.OrderBy(x => x.STT).Where(x => x.Xoa == false).ToList();
    var listKhoaPhong = db.KhoaPhong.OrderBy(x => x.STT).Where(x => x.Xoa == false).ToList();
    var listNhanVien = db.NhanVien.OrderBy(x => x.STT).Where(x => x.Xoa == false).ToList();

}

<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/scripts/jquery.mask.js"></script>
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/scripts/jquery.form.min.js"></script>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>CƠ QUAN</b>
            </div>
            
        </div>
        <div class="panel-body">
            
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >Cơ quan thẩm quyền quản lý viên chức</label>
                            <select class="form-control" id="selectCoQuanThamQuyenQuanLyVienChuc">
                                <option value=""></option>
                                @foreach (var item in listDonVi)
                                {
                                    <option @((Model.MaDonViThamQuyenQuanLy == item.MaDonVi)?"selected":"") value="@item.MaDonVi">@item.TenDonVi</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >Số hiệu viên chức</label>
                            <input class="form-control" type="text" id="txtSoHieuVienChuc" value="@Model.SoHieuVienChuc">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >Cơ quan sử dụng viên chức</label>
                            <select class="form-control" id="txtCoQuanSuDungVienChuc">
                                <option value=""></option>
                                @foreach (var item in listDonVi)
                                {
                                    <option @((Model.MaDonVi == item.MaDonVi)?"selected":"") value="@item.MaDonVi">@item.TenDonVi</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Hợp đồng</label>
                            <select class="form-control" id="selectCoQuanSuDungVienChuc">
                                <option value=""></option>
                                @foreach (var item in listLoaiHopDong)
                                {
                                    <option @((Model.MaLoaiHopDong == item.MaLoaiHopDong)?"selected":"")  value="@item.MaLoaiHopDong">@item.TenLoaiHopDong</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tài khoản</label>
                                    <select class="form-control" id="selectTaiKhoanNhanVien">
                                        <option value=""></option>
                                        
                                                @foreach(var nhanvien in listNhanVien)
                                                {
                                                    <option value="@nhanvien.MaNhanVien" @((nhanvien.MaNhanVien == Model.MaNhanVien)?"selected='selected'":"") >@nhanvien.HoTen</option>
                                                }
                                        
                                        
                                                                                
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Khoa phòng</label>
                                    <input type="text" class="form-control" id="txtKhoaPhong"  readonly="readonly" value="@Model.NhanVien.KhoaPhong.TenKhoa"/>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
            
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>SƠ YẾU LÝ LỊCH VIÊN CHỨC</b>
            </div>            
        </div>
        <div class="panel-body">
            
                <div class="row">
                    <div class="col-md-3" style="text-align:center;">
                        <a href="javascript:void(0);" id="btnselectHinhAnh" data-malylichvienchuc="@Model.MaLyLichVienChuc">
                            <img id="imgAvatar" src="~/Content/img/default-avatar.png" data-mahinhanh="0" style="max-width:140px; padding:3px; border:1px solid #cccccc; margin-bottom:5px;" />
                            
                        </a>
                        <form id="formAvatar" action="@Url.Action("UploadFileAvatar", "Upload")" method="post" enctype="multipart/form-data">
                            <input id="fileuploadAvatar" style="display:none;" type="file" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp" />
                            <input type="hidden" value="@Model.MaLyLichVienChuc" name="id" />   
                        </form>
                        
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label >1. Họ tên khai sinh</label>
                            <input class="form-control" type="text" id="txtHoTenKhaiSinh" value="@Model.HoTenKhaiSinh">
                        </div>
                        <div class="form-group">
                            <label >2. Tên gọi khác</label>
                            <input class="form-control" type="text" id="txtTenGoiKhac"  value="@Model.TenGoiKhac">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label >3. Sinh ngày</label>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input class="form-control text-right number" placeholder="ngày" type="text" id="txtNgaySinh_Ngay"  value="@Model.NgaySinh">
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control text-right number" placeholder="tháng" type="text" id="txtNgaySinh_Thang"  value="@Model.ThangSinh">
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control text-right number" placeholder="năm" type="text" id="txtNgaySinh_Nam"  value="@Model.NamSinh">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label >Giới tính</label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label style="font-weight:normal; font-size:14px;">
                                                <input type="checkbox" value="" id="checkboxGioiTinhNam" @((Model.GioiTinh == 1)?"checked='checked'":"") /> &nbsp;&nbsp; Nam
                                            </label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <label style="font-weight:normal; font-size:14px;">
                                                <input type="checkbox" value="" id="checkboxGioiTinhNu" @((Model.GioiTinh == 2)?"checked='checked'":"")/> &nbsp;&nbsp; Nữ
                                            </label>                                            
                                        </div>                                        
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >4. Nơi sinh</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="Xã phường" type="text" id="txtNoiSinh_Xa" value="@Model.NoiSinh_Xa">
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="Huyện, Thành phố" type="text"  id="txtNoiSinh_Huyen" value="@Model.NoiSinh_Huyen">
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="Tỉnh" type="text"  id="txtNoiSinh_Tinh" value="@Model.NoiSinh_Tinh">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >5. Quê quán</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="Xã phường" type="text" id="txtQueQuan_Xa" value="@Model.QueQuan_Xa">
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="Huyện, Thành phố" type="text" id="txtQueQuan_Huyen" value="@Model.QueQuan_Huyen">
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="Tỉnh" type="text" id="txtQueQuan_Tinh" value="@Model.QueQuan_Tinh">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">                            
                            <div class="row">
                                <div class="col-md-6">
                                    <label >6. Dân tộc</label>
                                    <input class="form-control" type="text" id="txtDanToc" value="@Model.DanToc">
                                </div>
                                <div class="col-md-6">
                                    <label >7. Tôn giáo</label>
                                    <input class="form-control" type="text" id="txtTonGiao" value="@Model.TonGiao">
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group">
                                <label>8. Nơi đăng ký hộ khẩu thường trú</label>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input class="form-control" placeholder="Số nhà" type="text" id="txtNoiDangKyHKTT_SoNha" value="@Model.NoiDangKyHKTT_SoNha">
                                    </div>
                                    <div class="col-md-9">
                                        <input class="form-control" placeholder="Đường" type="text" id="txtNoiDangKyHKTT_Duong"  value="@Model.NoiDangKyHKTT_Duong" >
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input class="form-control" placeholder="Xã phường" type="text" id="txtNoiDangKyHKTT_Xa"  value="@Model.NoiDangKyHKTT_Xa">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" placeholder="Huyện, Thành phố" type="text" id="txtNoiDangKyHKTT_Huyen"  value="@Model.NoiDangKyHKTT_Huyen">
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" placeholder="Tỉnh" type="text" id="txtNoiDangKyHKTT_Tinh"  value="@Model.NoiDangKyHKTT_Tinh">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>9. Nơi ở hiện nay</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <input class="form-control" placeholder="Số nhà" type="text" id="txtNoiOHienNay_SoNha"  value="@Model.NoiOHienNay_SoNha">
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" placeholder="Đường" type="text" id="txtNoiOHienNay_Duong" value="@Model.NoiOHienNay_Duong">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="Xã phường" type="text" id="txtNoiOHienNay_Xa" value="@Model.NoiOHienNay_Xa">
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="Huyện, Thành phố" type="text" id="txtNoiOHienNay_Huyen" value="@Model.NoiOHienNay_Huyen">
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="Tỉnh" type="text" id="txtNoiOHienNay_Tinh" value="@Model.NoiOHienNay_Tinh">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >10. Nghề nghiệp khi được tuyển dụng</label>
                            <input class="form-control" type="text" id="txtNgheNghiepKhiDuocTuyenDung" value="@Model.NgheNghiepKhiDuocTuyenDung">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >11. Ngày tuyển dụng</label>
                            <input class="form-control date" type="text" id="txtNgayTuyenDung" value="@Model.NgayTuyenDung">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >Cơ quan tuyển dụng</label>                            
                            <select class="form-control" id="selectCoQuanTuyenDung">
                                <option value=""></option>
                                @foreach (var item in listDonVi)
                                {
                                    <option @((Model.MaCoQuanTuyenDung == item.MaDonVi)?"selected":"") value="@item.MaDonVi">@item.TenDonVi</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >12. Chức vụ (chức danh hiện tại)</label>
                            <input class="form-control" type="text" id="txtChucVuChucDanhHienTai">
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >13. Công việc chính được giao</label>
                            <textarea class="form-control" placeholder="" id="txtCongViecChinhDuocGiao">@Model.CongViecChinhDuocGiao</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >14. Chức danh nghề nghiệp viên chức</label>
                            <button class="btn btn-xs btn-default pull-right" id="btnThemNhanhQuaTrinhLuong">Thêm nhanh</button>                            
                            <a class="btn btn-xs btn-default pull-right" id="btnCapNhatQuaTrinhLuong" href="#markDienBienQuaTrinhLuong"  style="margin-right:5px;">Cập nhật quá trình lương</a>                            
                            
                            <div class="row">
                                <div class="col-md-8">
                                    <label style="font-weight:normal">Tên chức danh</label>
                                    <input type="text" class="form-control  disabled" readonly="readonly" id="txtTenChucDanh" />
                                </div>
                                <div class="col-md-4">
                                    <label style="font-weight:normal">Mã số</label>
                                    <input type="text" class="form-control  disabled" readonly="readonly" id="txtMaSoChucDanhNgheNghiep"  />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label style="font-weight:normal">Bậc lương</label>
                                    <input type="text" class="form-control  disabled number" readonly="readonly" id="txtBacLuong" />
                                </div>
                                <div class="col-md-2">
                                    <label style="font-weight:normal">Hệ số</label>
                                    <input type="text" class="form-control  disabled" readonly="readonly" id="txtHeSo" />
                                </div>
                                <div class="col-md-2">
                                    <label style="font-weight:normal">Vượt khung</label>
                                    <input type="text" class="form-control  disabled" readonly="readonly" id="txtVuotKhung" />
                                </div>
                                <div class="col-md-2">
                                    <label style="font-weight:normal">Ngày hưởng</label>
                                    <input type="text" class="form-control  disabled" readonly="readonly" id="txtNgayHuong" />
                                </div>
                                <div class="col-md-2">
                                    <label style="font-weight:normal">Phụ cấp chức vụ</label>
                                    <input type="text" class="form-control  disabled" readonly="readonly" id="txtPhuCapChucVu" />
                                </div>
                                <div class="col-md-2">
                                    <label style="font-weight:normal">Phụ cấp khác</label>
                                    <input type="text" class="form-control  disabled" readonly="readonly" id="txtPhuCapKhac" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >15. Trình độ học vấn</label>                            
                            <div class="row">
                                <div class="col-md-3">
                                    <label style="font-weight:normal">15.1 Trình độ giáo dục phổ thông</label>
                                    <input type="text" class="form-control giaoducphothong" id="txtTrinhDoGiaoDucPhoThong" value="@Model.TrinhDoGiaoDucPhoThong" />
                                </div>
                                <div class="col-md-3">
                                    <label style="font-weight:normal">15.2 Trình độ chuyên môn cao nhất</label>
                                    <input type="text" class="form-control" id="txtTrinhDoChuyenMonCaoNhat"  value="@Model.TrinhDoChuyenMonCaoNhat" />
                                </div>
                                <div class="col-md-3">
                                    <label style="font-weight:normal">15.3 Lý luận chính trị</label>
                                    <input type="text" class="form-control" id="txtLyLuanChinhTri"  value="@Model.LyLuanChinhTri" />
                                </div>
                                <div class="col-md-3">
                                    <label style="font-weight:normal">15.4 Quản lý nhà nước</label>
                                    <input type="text" class="form-control" id="txtQuanLyNhaNuoc"  value="@Model.QuanLyNhaNuoc" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label style="font-weight:normal">15.5 Bồi dưỡng theo tiêu chuẩn chức danh nghề nghiệp</label>
                                    <input type="text" class="form-control" id="txtBoiDuongTheoTieuChuanCDNN" value="@Model.BoiDuongTheoTieuChuanCDNN"/>
                                </div>
                                <div class="col-md-3">
                                    <label style="font-weight:normal">15.6 Ngoại ngữ</label>
                                    <input type="text" class="form-control" id="txtNgoaiNgu" value="@Model.NgoaiNgu" style="text-transform:uppercase" />
                                </div>
                                <div class="col-md-3">
                                    <label style="font-weight:normal">15.7 Tin học</label>
                                    <input type="text" class="form-control" id="txtTinHoc" value="@Model.TinHoc" style="text-transform:uppercase"/>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >16. Ngày vào Đảng Cộng Sản Việt Nam</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <label style="font-weight:normal">Ngày vào</label>
                                    <input type="text" class="form-control date" id="txtNgayVaoDangCSVN" value="@Model.NgayVaoDangCSVN" />
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight:normal">Ngày chính thức</label>
                                    <input type="text" class="form-control date" id="txtNgayVaoDangCSVN_ChinhThuc" value="@Model.NgayVaoDangCSVNChinhThuc" />
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >17. Ngày tham gia tổ chức chính trị xã hội</label>
                            <div class="row">                                
                                <div class="col-md-12">
                                    <label style="font-weight:normal">(Ngày tham gia tổ chức: Đoàn, Hội,... và làm việc gì trong tổ chức đó)</label>
                                    <div class="row">
                                        <div class="col-xs-6"><input type="text" class="form-control date" id="txtNgayThamGiaToChucChinhTriXaHoi" value="@Model.ToChucChinhTriXH_NgayThamGia" /></div>
                                        <div class="col-xs-6"><input type="text" class="form-control" id="txtToChucChinhTriXaHoi" value="@Model.ToChucChinhTriXH" /></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >18. Ngày nhập ngũ, xuất ngũ, quân hàm cao nhất</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <label style="font-weight:normal">Ngày vào</label>
                                    <input type="text" class="form-control date" id="txtNgayNhapNgu" value="@Model.NgayNhapNgu" />
                                </div>
                                <div class="col-md-3">
                                    <label style="font-weight:normal">Ngày xuất ngũ</label>
                                    <input type="text" class="form-control date" id="txtNgayXuatNgu" value="@Model.NgayXuatNgu" />
                                </div>
                                <div class="col-md-6">
                                    <label style="font-weight:normal">Quân hàm cao nhất</label>
                                    <input type="text" class="form-control" id="txtQuanHamCaoNhat" value="@Model.QuanHamCaoNhat"/>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >19. Danh hiệu được phong tặng cao nhất</label>
                            <input class="form-control" type="text" id="txtDanhHieuDuocPhongTangCaoNhat" value="@Model.DanhHieuDuocPhongTangCaoNhat">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >20. Sở trường công tác</label>
                            <input class="form-control" type="text" id="txtSoTruongCongTac" value="@Model.SoTruongCongTac">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >21. Khen thưởng</label>
                            <input class="form-control" type="text" id="txtKhenThuong" value="@Model.KhenThuong">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >22. Kỷ luật</label>
                            <input class="form-control" type="text" id="txtKyLuat" value="@Model.KyLuat">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >23. Tình trạng sức khỏe</label>

                            <div class="row">
                                <div class="col-md-3">
                                    <label style="font-weight:normal">Tình trạng</label>
                                    <input type="text" class="form-control" id="txtTinhTrangSucKhoe" value="@Model.TinhTrangSucKhoe" />
                                </div>
                                <div class="col-md-3">
                                    <label style="font-weight:normal">Chiều cao (m)</label>
                                    <input type="text" class="form-control decimal" id="txtChieuCao" value="@Model.ChieuCao"/>
                                </div>
                                <div class="col-md-3">
                                    <label style="font-weight:normal">Cân nặng (kg)</label>
                                    <input type="text" class="form-control number" id="txtCanNang" value="@Model.CanNang"/>
                                </div>
                                <div class="col-md-3">
                                    <label style="font-weight:normal">Nhóm máu</label>
                                    <input type="text" class="form-control" id="txtNhomMau" value="@Model.NhomMau" style="text-transform:uppercase"/>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >24. Là thương binh hạng</label>
                            <input class="form-control" type="text" id="txtLaThuongBinhHang" value="@Model.LaThuongBinhHang">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >Là con gia đình chính sách</label>

                            <input class="form-control" type="text" id="txtLaConGiaDinhChinhSach" value="@Model.LaConGiaDinhChinhSach">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label >25. Số chứng minh nhân dân</label>
                            <input class="form-control number" type="text" id="txtSoChungMinhNhanDan" value="@Model.SoChungMinhNhanDan">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label >Ngày cấp</label>
                            <input class="form-control date" type="text" id="txtNgayCap" value="@Model.NgayCap">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >27. ĐÀO TẠO, BỒI DƯỠNG VỀ CHUYÊN MÔN, NGHIỆP VỤ, LÝ LUẬN CHÍNH TRỊ, NGOẠI NGỮ, TIN HỌC</label>

                            <div id="divDienBienQuaTrinhDaoTaoBoiDuong" data-malylichvienchuc="@Model.MaLyLichVienChuc">

                            </div>
                            
                            <button class="btn btn-default btn-sm pull-right" id="btnThemDaoTaoBoiDuongChuyenMon"><i class="glyphicon glyphicon-plus"></i> Thêm ...</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >28. TÓM TẮT QUÁ TRÌNH CÔNG TÁC</label>


                            <div id="divDienBienQuaTrinhCongTac" data-malylichvienchuc="@Model.MaLyLichVienChuc">
                                
                            </div>
                            <button class="btn btn-default btn-sm pull-right" id="btnThemDienBienQuaTrinhCongTac"><i class="glyphicon glyphicon-plus"></i> Thêm ...</button>
                            <div id="markDienBienQuaTrinhLuong"></div>
                        </div>
                    </div>
                </div>
            
                <div class="row" >
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>29. DIỄN BIẾN QUÁ TRÌNH LƯƠNG CỦA VIÊN CHỨC</label>
                            
                                <div id="divDienBienQuaTrinhLuong" data-malylichvienchuc="@Model.MaLyLichVienChuc">
                                </div>
                            <br/>                            
                            <button class="btn btn-default btn-sm pull-right" id="btnThemQuaTrinhLuong" data-malylichvienchuc=""><i class="glyphicon glyphicon-plus"></i> Thêm ...</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >30. NHẬN XÉT, ĐÁNH GIÁ CỦA CƠ QUAN, ĐƠN VỊ QUẢN LÝ HOẶC SỬ DỤNG VIÊN CHỨC</label>
                            <textarea class="form-control" placeholder="" id="txtNhanXetDanhGiaCuaConQuan">@Model.NhanXetDanhGiaCuaCoQuanDonVi</textarea>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>KÝ TÊN, ĐÓNG DẤU</b>
            </div>            
        </div>
        <div class="panel-body">            
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label >Người khai</label>
                            <input class="form-control" type="text" id="txtNguoiKhai" value="@Model.NguoiKhai">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >Thủ trưởng cơ quan, đơn vị quản lý hoặc sử dụng viên chức</label>
                            <input class="form-control" type="text" id="txtThuTruongCoQuan" value="@Model.ThuTruongKyTen">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label >Nơi ký</label>
                            <input class="form-control" type="text" id="txtNoiKy" value="@Model.ThuTruongKy_NoiKy">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label >Ngày ký</label>
                            <input class="form-control date" type="text" id="txtNgayKy" value="@Model.ThuTruongKy_Ngay">
                        </div>
                    </div>
                </div>
                     
        </div>        
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>GHI CHÚ</b>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="" id="txtGhiChu">@Model.GhiChu</textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <button class="btn btn-lg btn-success">Lưu dữ liệu</button>
    <button class="btn btn-lg btn-default">Xóa hồ sơ</button>    
</div>



<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


<!-- modal -->
<div class="modal" id="modalChucDanhNgheNghiepVienChuc" data-malylichvienchuc="@Model.MaLyLichVienChuc"> 

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Chức danh nghề nghiệp</h4>
            </div>
            <div class="modal-body">
                @*<p>Feel free to contact us for any issues you might have with our products.</p>*@
                <div class="row">
                    <div class="col-md-12">
                        <select class="form-control" id="modalQuaTrinhLuong_selectChucDanhNgheNghiep">
                            <option value=""></option>
                            @foreach (var item in listChucDanhNgeNghiep)
                            {
                                <option value="@item.MaChucDanhNgheNghiep">@item.MaSo - @item.TenChucDanhNgheNghiep</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <label>Bậc lương</label>
                        <input class="form-control number" type="text" id="modalQuaTrinhLuong_txtBacLuong">
                    </div>
                    <div class="col-xs-4">
                        <label>Hệ số</label>
                        <input class="form-control decimal" type="text" id="modalQuaTrinhLuong_txtHeSo">
                    </div>
                    <div class="col-xs-4">
                        <label>Vượt khung (%)</label>
                        <input class="form-control number" type="text" id="modalQuaTrinhLuong_txtVuotKhung">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label>Ngày hưởng</label>
                        <input class="form-control date"  type="text" id="modalQuaTrinhLuong_txtNgayHuong">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label>Phụ cấp chức vụ</label>
                        <input class="form-control decimal"  type="text" id="modalQuaTrinhLuong_txtPhuCapChucVu">
                    </div>                    
                    <div class="col-xs-6">
                        <label>Phụ cấp khác</label>
                        <input class="form-control decimal"  type="text" id="modalQuaTrinhLuong_txtPhuCapKhac">
                    </div>
                </div>                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-malylichvienchuc="@Model.MaLyLichVienChuc" data-mode="insert" id="modalQuaTrinhLuong_btnLuuDienBienQuaTrinhLuong">Thêm diễn biến</button>
                <button type="button" class="btn btn-danger" data-malylichvienchuc="@Model.MaLyLichVienChuc" data-mode="insert" id="modalChucDanhNgheNghiepVienChuc_btnXoa">Xóa diễn biến</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>                
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalDaoTaoBoiDuongNghiepVuChuyenMon" data-malylichvienchuc="@Model.MaLyLichVienChuc" data-madienbiendaotaoboiduong="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Đào tạo bồi dưỡng nghiệp vụ chuyên môn</h4>
            </div>
            <div class="modal-body">
                @*<p>Feel free to contact us for any issues you might have with our products.</p>*@
                <div class="row">
                    <div class="col-md-12">
                        <label>Tên trường</label>
                        <input class="form-control" type="text" id="modalDaoTaoBoiDuongNghiepVuChuyenMon_txtTenTruong">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Chuyên ngành đào tạo, bồi dưỡng</label>
                        <input class="form-control" type="text" id="modalDaoTaoBoiDuongNghiepVuChuyenMon_txtChuyenNganhDaoTao">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label>Từ tháng năm</label>
                        <input class="form-control thangnam" type="text" id="modalDaoTaoBoiDuongNghiepVuChuyenMon_txtTuThangNam">
                    </div>
                    <div class="col-xs-6">
                        <label>Đến tháng năm</label>
                        <input class="form-control thangnam" type="text" id="modalDaoTaoBoiDuongNghiepVuChuyenMon_txtDenThangNam">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Hình thức đào tạo</label>
                        
                        <select class="form-control" id="modalDaoTaoBoiDuongNghiepVuChuyenMon_selectHinhThucDaoTao"> 
                            <option value=""></option>
                            @foreach (var item in listHinhThucDaoTao)
                            {
                                <option value="@item.MaHinhThucDaoTao">@item.TenHinhThucDaoTao</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Văn bằng, chứng chỉ, trình độ</label>
                        <input class="form-control" type="text" id="modalDaoTaoBoiDuongNghiepVuChuyenMon_txtVanBangChungChiTrinhDo">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="modalDaoTaoBoiDuongNghiepVuChuyenMon_btnLuu" data-malylichvienchuc="@Model.MaLyLichVienChuc">Lưu</button>
                
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalDienBienQuaTrinhCongTac">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Tóm tắt quá trình công tác</h4>
            </div>
            <div class="modal-body">
                @*<p>Feel free to contact us for any issues you might have with our products.</p>*@
                <div class="row">
                    <div class="col-xs-6">
                        <label>Từ tháng năm</label>
                        <input class="form-control thangnam" type="text" id="modalDienBienQuaTrinhCongTac_txtTuThangNam">
                    </div>
                    <div class="col-xs-6">
                        <label>Đến tháng năm</label>
                        <input class="form-control thangnam" type="text" id="modalDienBienQuaTrinhCongTac_txtDenThangNam">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Chức danh, chức vụ, đơn vị công tác</label>
                        <textarea class="form-control" style="height:120px;" id="modalDienBienQuaTrinhCongTac_txtNoiDungCongTac"></textarea>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="modalDienBienQuaTrinhCongTac_btnLuu" data-malylichvienchuc="@Model.MaLyLichVienChuc">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalTuyChonAvatar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Hình ảnh</h4>
            </div>
            <div class="modal-body">
                @*<p>Feel free to contact us for any issues you might have with our products.</p>*@

                <div class="row">
                    <div class="col-md-12">
                        @*<button class="btn btn-lg btn-default btn-block btn-success">Xem ảnh</button>*@
                        <img src="~/Content/img/default-avatar.png" style="width:100%;" id="modalTuyChonAnh_imgXemAnh" />
                    </div>
                    <div class="col-md-12">
                        
                        <button class="btn btn-lg btn-default btn-block btn-primary" id="modalTuyChonAnh_btnChonAnhKhac">Chọn ảnh khác</button>
                        
                        
                    </div>
                    <div class="col-md-12">
                        
                        
                        <button class="btn btn-lg btn-default btn-block btn-danger" id="modalTuyChonAnh_btnXoaAnh" data-mahinhanh="0">Xóa ảnh</button>
                        
                        
                    </div>
                    <div class="col-md-12">
                        
                        <button class="btn btn-lg btn-default btn-block" data-dismiss="modal" >Bỏ qua</button>
                        <br />    
                    </div>
                    
                </div>

            </div>
            
        </div>
    </div>
</div>


<script>
    var _ajaxUrl = '@(HttpContext.Current.Request.Url.Scheme)://@(HttpContext.Current.Request.Url.Authority)/AjaxManager/';
    var _ajaxThisUrl = '@(HttpContext.Current.Request.Url.Scheme)://@(HttpContext.Current.Request.Url.Authority)/QuanLyLyLichVienChuc/';

</script>


<script src="~/scripts/core-scripts/th.core.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>
<script src="~/scripts/app_scripts/CapNhatLyLichVienChuc.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>