
@{
    ViewBag.Title = "Thư nội bộ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    PHCN.NhanVien.Models.PHCNEntities db = new PHCN.NhanVien.Models.PHCNEntities();

    var nhanVienDangNhap = (PHCN.NhanVien.Models.NhanVien)Session["NhanVienDangNhap"];
    if (nhanVienDangNhap == null) { Response.Redirect(Url.Action("DangNhap", "Home")); }
    int _maNhanVienDangNhap = nhanVienDangNhap.MaNhanVien;
    string _trangThai = ViewBag.TrangThai.ToString();
    string box = "";
    try { box = Request.QueryString["box"].ToString();}catch { }
    string getTieuDe = "";
    try { getTieuDe = Request.QueryString["tieude"].ToString(); } catch { }
    int getNguoiGui = 0;
    try { getNguoiGui = int.Parse(Request.QueryString["nguoigui"].ToString()); } catch { }
    string getNgayGui = "";
    try { getNgayGui = Request.QueryString["ngaygui"].ToString(); } catch { }

    bool modeTimKiem = false;
    if((getTieuDe != "")||(getNguoiGui != 0)||(getNgayGui!=""))
    {
        modeTimKiem = true;
    }

    var listNhanVien = db.NhanVien.Where(x => x.NhanThu == true && x.Xoa == false).OrderBy(x => x.KhoaPhong.STT).ThenBy(x => x.STT).ToList();
    var listKhoaPhong = db.KhoaPhong.Where(x => x.Xoa == false).OrderBy(x => x.STT).ToList();

    ViewBag.PanelTitle = "";
    switch(box)
    {
        case "ThuDen":
            ViewBag.PanelTitle = "Hộp thư đến";
            break;
        case "DaGui":
            ViewBag.PanelTitle = "Thư đã gửi";
            break;
        case "DaXoa":
            ViewBag.PanelTitle = "Thư đã xóa";
            break;
        default:
            ViewBag.PanelTitle = "Hộp thư đến";
            break;
    }

}

<script>
    var _maNhanVienDangNhap = @_maNhanVienDangNhap;
    var _trangThai = '@_trangThai';

    var _getTieuDe = '@getTieuDe';
    var _getNguoiGui = '@getNguoiGui';
    var _getNgayGui = '@getNgayGui';
</script>
 


<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/scripts/jquery.mask.js"></script>
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>

<div style="width:100%; height:500px; overflow-y:scroll;" id="divDanhSachThu">
    <div class="text-center">
        <br /><br /><br /><br />
        Đang tải, vui lòng chờ ...                 
    </div>
    
</div>
<br/>

<div id="divActionButton">
    <button class="btn btn-default" id="btnChonTatCa" style="margin-bottom:5px;"><i class="glyphicon glyphicon-ok"></i> Chọn tất cả</button>
    @if (_trangThai == "DaXoa")
    {
        <button class="btn btn-default" id="btnTraVeThuDen" style="margin-bottom:5px;"><i class="glyphicon glyphicon-share-alt"></i> Trả về thư đến</button>
    }
    @if (_trangThai == "ThuDen" || _trangThai == "DaGui" || _trangThai == "DaXoa")
    {
        <button class="btn btn-default" id="btnXoaThu" style="margin-bottom:5px;"><i class="glyphicon glyphicon-remove"></i> Xóa thư</button>
    }
    <button class="btn btn-default" id="btnTimKiem" style="margin-bottom:5px;" data-toggle="collapse" data-target="#panelTimKiem"><i class="glyphicon glyphicon-search"></i> Tìm kiếm</button>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle " style="margin-bottom:5px;" data-toggle="dropdown">Tùy chọn &nbsp; <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" id="btnDanhDauDaXem">Đánh dấu đã xem</a></li>
            <li><a href="#" id="btnDanhDauChuaXem">Đánh dấu chưa xem</a></li>
            <li><a href="#" id="btnDanhDauDaXemTatCa">Đánh dấu đã xem tất cả</a></li>
        </ul>
    </div>
    <div class="pull-right" style="padding:5px; font-size:12px;" id="thongtinThu">

    </div>
    <br />
    <br />

    <div class="row collapse @((modeTimKiem)?"in":"")" id="panelTimKiem">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-search"></i> Tìm kiếm</h3>
                </div>
                <div class="panel-body">
                    <form method="get" action="@Url.Action("Index","ThuNoiBo")">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control input-sm" type="text" placeholder="Tiêu đề..." name="tieude" value="@getTieuDe">
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-md-3">
                                <select class="form-control input-sm" name="nguoigui">
                                    <option value=""> Người gửi... </option>
                                    @foreach (var khoaphong in listKhoaPhong)
                                    {
                                        <optgroup label="@khoaphong.TenKhoa">
                                            @foreach(var nhanvien in listNhanVien.Where(x => x.MaKhoa == khoaphong.MaKhoa).OrderBy(x => x.STT).ToList())
                                            {
                                                <option value="@nhanvien.MaNhanVien" @((getNguoiGui == nhanvien.MaNhanVien)?"selected='selected'":"") >@nhanvien.HoTen</option>
                                            }
                                        </optgroup>
                                    }
                                    
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control input-sm date" type="text" name="ngaygui" placeholder="Ngày gửi..." value="@getNgayGui">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-sm btn-success btn-block">Tìm </button>
                            </div>
                            <div class="col-md-3">
                                <a href="@Url.Action("Index", "ThuNoiBo")" class="btn btn-sm btn-danger btn-block">Hủy bỏ </a>
                            </div>
                        </div>
                        <input type="hidden" value="@box" name="box" />
                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-default btn-block" data-toggle="collapse" data-target="#panelTimKiem">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<script>
    var _urlDanhSachThu = '@Url.Action("_pDanhSachThu", "ThuNoiBo")';
    var _urlTraVeThuDen = '@Url.Action("TraVeThuDenList", "ThuNoiBo")';
    var _urlDanhDauXoa = '@Url.Action("DanhDauXoaList", "ThuNoiBo")';
    var _urlXoaThuVinhVien = '@Url.Action("XoaVinhVienList", "ThuNoiBo")';
    var _urlLayTongSoThu = '@Url.Action("LayTongSoThu", "ThuNoiBo")';
    var _urlDanhDauDaXemList = '@Url.Action("DanhDauDaXemList", "ThuNoiBo")';
    var _urlDanhDauChuaXemList = '@Url.Action("DanhDauChuaXemList", "ThuNoiBo")';
    var _urlDanhDauDaXemTatCa = '@Url.Action("DanhDauDaXemTatCa", "ThuNoiBo")';
    var _urlDoiMatKhauPhucTap = '@Url.Action("DoiMatKhauPhucTap", "AjaxManager")';
</script>




<script src="~/scripts/core-scripts/sweetalert2.all.min.js"></script>
<script src="~/scripts/core-scripts/th.core.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>
<script src="~/scripts/app_scripts/ThuNoiBo.js?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))"></script>

  