@{
    ViewBag.PanelTitle = "Soạn thư";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    PHCN.NhanVien.Models.PHCNEntities db = new PHCN.NhanVien.Models.PHCNEntities();
    var idBaiViet = HttpContext.Current.Request.RequestContext.RouteData.Values["id"];
    int maNhanVienDangNhap = (int)(ViewBag.MaNhanVienDangNhap);
    string tenDonVi = PHCN.NhanVien.Controllers.CodeController.layThamSoHeThong("tendonvi").ToUpper();
}
<script>
    var idBaiViet = @idBaiViet;
    var maNhanVienDangNhap = @maNhanVienDangNhap;
</script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/scripts/jquery.form.min.js"></script>
<script src="~/Content/treelist/js/checktree.js"></script>
<div class="row">
    <div class="col-xs-12">
        <form role="form">
            <div class="form-group">
                <label for="txtTieuDe">Tiêu đề</label>
                <input class="form-control" id="txtTieuDe" placeholder="" />
            </div>
        </form>
    </div>
</div>
<textarea id="txtNoiDung"></textarea>
<script>
    CKEDITOR.replace('txtNoiDung');
</script>
<div id="divDanhSachFileDinhKem">
    @*lấy ajax hiển thị ra đây*@
</div>
<script>
    
   
    $(document).ready(function () {        
        loadDanhSachFileDinhKem();        
    });
</script>
<button class="btn btn-success" style="width:230px;" id="btnGui">Gửi</button>
<button class="btn btn-default btn-sm" id="btnThemFileDinhKem">Thêm file đính kèm...</button>
<button class="btn btn-default btn-sm" id="btnThemHinhAnh">Thêm hình ảnh...</button>
<div class="form-group" style="display:none;">
    <form id="formFileDinhKem" action="@Url.Action("UploadFile", "Upload")" method="post" enctype="multipart/form-data">
        <label>Thêm file</label>
        <input id="fileuploadDinhKem" type="file" name="file" accept=".xls,.xlsx,.ppt,.pptx,.doc,.docx,.pdf,.zip,.rar,.jpg,.jpeg,.png,.gif">
        <input type="hidden" value="@idBaiViet" name="id" />        
    </form>
</div>
<div class="form-group" style="display:none;">
    <form id="formHinhAnh" action="@Url.Action("UploadFileHinhAnh", "Upload")" method="post" enctype="multipart/form-data">
        <label>Thêm file</label>
        <input id="fileuploadHinhAnh" type="file" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp">        
    </form>
</div>
<script>
    $("#btnThemFileDinhKem").click(function () {
        $("input#fileuploadDinhKem").trigger('click'); 
    });    
    $("#btnThemHinhAnh").click(function () {
        $("input#fileuploadHinhAnh").trigger('click'); 
    }); 
    $("input#fileuploadDinhKem").on('change', function(){
        var allowedExtensions = /(\.xls|\.xlsx|\.ppt|\.pptx|\.doc|\.docx|\.pdf|\.zip|\.rar|\.jpg|\.jpeg|\.png|\.gif)$/i;
        if(!allowedExtensions.exec(this.value)){
            alert('Chỉ cho phép đính kèm các file xls,xlsx,doc,docx,pdf,zip,rar,jpg,jpeg,png,gif');
            this.value = "";
            return;
        }
        if(this.files[0].size > 52428800){
            alert("Vui lòng không gửi file quá 50MB!");
            this.value = "";
            return;
        };
        $("form#formFileDinhKem").ajaxSubmit({
            type: "post",
            success: function() {
                $("input#fileuploadDinhKem").val(null);
                loadDanhSachFileDinhKem();
            }
        });
    });
    $("input#fileuploadHinhAnh").on('change', function(){
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif|\.bmp)$/i;
        if(!allowedExtensions.exec(this.value)){
            alert('Chỉ cho phép đính kèm các file jpg,jpeg,png,gif,bmp');
            this.value = "";
            return;
        }
        if(this.files[0].size > 52428800){
            alert("Vui lòng không gửi file quá 50MB!");
            this.value = "";
            return;
        };
        $("form#formHinhAnh").ajaxSubmit({
            type: "post",
            success: function(result) {
                // result là đường dẫn sau khi upload
                loadHinhAnhVaoBaiViet(result);
            }
        });
    });
    function loadDanhSachFileDinhKem() {
        var url = '@Url.Action("_pDanhSachFileDinhKem", "ThuNoiBo", new { id = idBaiViet, xem = false } )';
        var danhSachFileDinhKem = $.get(url, function (data) {
            $("#divDanhSachFileDinhKem").html(data);
        });        
    } 
    function loadHinhAnhVaoBaiViet(result) {

        if (result != "false") {
            var imgHtml = CKEDITOR.dom.element.createFromHtml("<center><img src='"+result+"' alt='' style='width:80%; margin:auto; max-width:600px;' align='center'/></center>");
            //CKEDITOR.instances['txtNoiDung'].insertHtml(imgHtml);
            CKEDITOR.instances.txtNoiDung.insertElement(imgHtml);
        } else {
            alert("Lỗi hệ thống: " + result);
        } 
    } 
</script>
<div class="">
    <h4 class="content-row-title">Nhận thư</h4>
    <ul class="checktree">
        <li>
            <input id="donvi" type="checkbox"><label for="donvi" style="font-size:16px; margin-left:10px; color:#003407;">@tenDonVi</label>
            <ul>
                @{
                    var listKhoaPhong = db.KhoaPhong.OrderBy(x => x.STT).ToList();
                }
                @foreach (var khoa in listKhoaPhong)
                {
                    var listNhanVien = khoa.NhanVien.Where(x => x.NhanThu == true).ToList();
                    if (listNhanVien.Any())
                    {
                        <li>
                            <input id="checkboxKhoaPhong_@khoa.MaKhoa" type="checkbox" class="checkboxKhoaPhong" data-ma-khoa="@khoa.MaKhoa">
                            <label for="checkboxKhoaPhong_@khoa.MaKhoa" style="font-size:14px; margin-left:10px; text-transform:uppercase;">@khoa.TenKhoa</label>
                            <ul>
                                @foreach (var nhanvien in listNhanVien)
                                {
                                    <li><input id="checkboxNhanVien_@nhanvien.MaNhanVien" class="checkboxNhanVien" data-ma-nhan-vien="@nhanvien.MaNhanVien" type="checkbox"><label for="checkboxNhanVien_@nhanvien.MaNhanVien" style="font-weight:normal;font-size:14px; margin-left:10px; ">@nhanvien.HoTen</label></li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </li>
    </ul>
</div>
<script>
	$(function(){
		$("ul.checktree").checktree();
	});
</script>
<script>


    $("#btnGui").click(function () {

        // validate
        var tieuDe = $("#txtTieuDe").val();
        if (tieuDe == "") {
            thAlertShowError("Chưa nhập tiêu đề");
            return;
        };
        var noiDung = CKEDITOR.instances.txtNoiDung.getData();
        if (noiDung == "") {
            thAlertShowError("Chưa nhập nội dung");
            return;
        }

        var listCheckedNhanVien = $('.checkboxNhanVien:checkbox:checked').map(function () {
            return $(this).data("ma-nhan-vien");
        }).get();
        listNguoiNhan = listCheckedNhanVien.join(",");
        if (listNguoiNhan == "") {
            thAlertShowError("Chưa chọn người nhận");
            return;
        }

        // send ajax
        //alert(listCheckedNhanVien.join(",") + "send ajax...");

        var url = '@Url.Action("GuiThu", "ThuNoiBo")';
        var param = {
            maBaiViet: idBaiViet,
            tieuDe: tieuDe,
            noiDung: noiDung,
            nguoiGui: maNhanVienDangNhap,
            listNguoiNhan: listNguoiNhan
        }
        //$.post(url, param).done(function (result) {
        //    alert(data);
        //});

        $.ajax({
            type: "POST",
            url: url,
            data: param,
            success: function (result) {
                if (result == "true") {
                    thAlertShowSuccess("Đã gửi thư");
                    setInterval(function(){
                        window.location = '@Url.Action("Index", "ThuNoiBo")';
                    }, 1500);

                } else {
                    alert ("Lỗi hệ thống: " + result);
                }
            },
            dataType: "html"
        });
    });



</script>



