@{ 


    //var nhanVienDangNhap = new PHCN.NhanVien.Models.NhanVien();
    //nhanVienDangNhap.MaNhanVien = 8;
    //nhanVienDangNhap.HoTen = "Administrator";

    var nhanVienDangNhap = (PHCN.NhanVien.Models.NhanVien)Session["NhanVienDangNhap"];
    if (nhanVienDangNhap == null)
    {
        Response.Redirect(Url.Action("DangNhap", "Home"));
    }

    var listPhanQuyen = nhanVienDangNhap.PhanQuyen.ToList();


    int _maNhanVienDangNhap = nhanVienDangNhap.MaNhanVien;

    string box = "";
    try
    {
        box = Request.QueryString["box"].ToString();
    }
    catch { }

}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon_16.ico" />
    <link rel="bookmark" href="favicon_16.ico" />
    <!-- site css -->
    <link rel="stylesheet" href="~/Content/css/site.min.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/site.min.js"></script>
</head>
<body>
    <!--nav-->
    <nav role="navigation" class="navbar navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">BVPHCNDT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!-- <li class="disabled"><a href="#">Link</a></li> -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">@nhanVienDangNhap.HoTen<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <!--<li class="dropdown-header">Setting</li>-->

                            <li class="disabled"><a href="@Url.Action("Logout", "Home")">Thoát</a></li>
                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--header-->
    <div class="container-fluid">
        <!--documents-->
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
                @{ 
                    bool isAdmin = listPhanQuyen.Where(x => x.MaQuyen == "admin").Any();
                    if (nhanVienDangNhap.TenDangNhap == "admin")
                    {
                        isAdmin = true;
                    }                  
                }

                @if (isAdmin)
                {
                    <ul class="list-group panel">
                        <li class="list-group-item">
                            <a href="#" class="btn btn-success" style="width:100%">
                                Admin Control Panel
                            </a>
                        </li>
                    </ul>
                    <div class="list-group">
                        <a href="@Url.Action("NhanVien", "Admin")" class="list-group-item">Nhân viên</a>
                        <a href="@Url.Action("PhanQuyen", "Admin")" class="list-group-item">Phân quyền</a>
                        <a href="@Url.Action("KhoaPhong", "Admin")" class="list-group-item">Khoa phòng</a>

                        <a href="@Url.Action("ThamSoHeThong", "Admin")" class="list-group-item">Tham số hệ thống</a>
                    </div>

                }  
                <ul class="list-group panel">
                    <li class="list-group-item">
                        <a href="@Url.Action("SoanThu","ThuNoiBo")" class="btn btn-success" style="width:100%">
                            Soạn thư
                        </a>
                    </li>
                </ul>
                <div class="list-group">
                    <a href="@Url.Action("Index", "ThuNoiBo", new { box = "ThuDen"})" class="list-group-item @((box=="ThuDen")?"active":"")">Hộp thư đến</a>
                    @*<a href="@Url.Action("Index", "ThuNoiBo", new { box = "QuanTrong"})" class="list-group-item @((box=="QuanTrong")?"active":"")">Quan trọng</a>*@
                    <a href="@Url.Action("Index", "ThuNoiBo", new { box = "DaGui"})" class="list-group-item @((box=="DaGui")?"active":"")">Thư đã gửi</a>
                    @*<a href="@Url.Action("Index", "ThuNoiBo", new { maNhanVienDangNhap = _maNhanVienDangNhap, trangThai = "ThuNhap"})" class="list-group-item">Thư nháp</a>*@
                    <a href="@Url.Action("Index", "ThuNoiBo", new { box = "DaXoa"})" class="list-group-item @((box=="DaXoa")?"active":"")">Thùng rác</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a>
                            @ViewBag.PanelTitle
                        </h3>
                    </div>
                    <div class="panel-body">

                        @RenderBody()
                    </div><!-- panel body -->
                </div>
            </div><!-- content -->
        </div>
    </div>
    <!--footer-->
    @*<div class="site-footer">
        <div class="container">

            <div class="copyright clearfix">
                <p><b>BỆNH VIỆN PHỤC HỒI CHỨC NĂNG ĐỒNG THÁP</b>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p>Bản quyền thuộc về Nguyễn Hồng Thanh - <a href="javascript:void(0);">ng.hong.thanh@gmail.com</a></p>
                <br/>
                Session time out: @Session.Timeout
            </div>
        </div>
    </div>*@
</body>
</html>
