@{ 

    // chạy dev

    PHCN.NhanVien.Models.PHCNEntities db = new PHCN.NhanVien.Models.PHCNEntities(); var nhanVienDangNhap = db.NhanVien.Find(1); Session["NhanVienDangNhap"] = nhanVienDangNhap; var listPhanQuyen = nhanVienDangNhap.PhanQuyen.ToList(); string box = "";

    //chạy thật

    //var nhanVienDangNhap = (PHCN.NhanVien.Models.NhanVien)Session["NhanVienDangNhap"]; if (nhanVienDangNhap == null) {Response.Redirect(Url.Action("DangNhap", "Home")); } var listPhanQuyen = nhanVienDangNhap.PhanQuyen.ToList(); int _maNhanVienDangNhap = nhanVienDangNhap.MaNhanVien; string box = ""; try {box = Request.QueryString["box"].ToString();} catch { }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.PanelTitle</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="~/Content/img/mail.ico" />
    <link rel="bookmark" href="~/Content/img/mail.ico" />
    <link rel="stylesheet" href="~/Content/css/site.min.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/site.min.js"></script>
    <link href="~/Content/css/admin-layout.css?@("v="+DateTime.Now.ToString("yyMMddhhmmss"))" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/scripts/jquery.mask.js"></script>
    <tag autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
</head>
<body>
    <nav role="navigation" class="navbar navbar-custom" style="background-color:#004f02;">
        <div class="container-fluid">            
            <div class="navbar-default" >
                <button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="@Url.Action("Index", "ThuNoiBo")" class="navbar-brand" style="color:white;">
                    <i class="glyphicon glyphicon-home"></i>                        
                    NỘI BỘ
                </a>
            </div>
            <div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse" style="background-color:transparent;">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="glyphicon glyphicon-user"></i>
                            @nhanVienDangNhap.HoTen
                            <b class="caret"></b>
                        </a>
                        <ul role="menu" class="dropdown-menu">
                            <li class="disabled"><a href="@Url.Action("DoiMatKhau", "Home")"> <i class="glyphicon glyphicon-pencil"></i> Đổi mật khẩu</a></li>
                            <li class="disabled"><a href="@Url.Action("Logout", "Home")"> <i class="glyphicon glyphicon-arrow-left"></i> Thoát</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <style>
        .list-group {
            margin-bottom:0px;
        }
    </style>
    <!--header-->
    <div class="container-fluid">
        <!--documents-->
        
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-4 sidebar-offcanvas" role="navigation">
                @{ 
                    bool isAdmin = listPhanQuyen.Where(x => x.MaQuyen == "admin").Any();
                    bool isQuanLyNhanVien = listPhanQuyen.Where(x => x.MaQuyen == "quanlynhanvien").Any();
                    bool isQuanLyWebsite = listPhanQuyen.Where(x => x.MaQuyen == "quanlywebsite").Any();
                    if (nhanVienDangNhap.TenDangNhap == "admin")
                    {
                        isAdmin = true;
                    }
                }


                
                

                <ul class="list-group panel">
                    <li class="list-group-item">
                        <a href="@Url.Action("SoanThu","ThuNoiBo")" class="btn btn-default" style="width:100%">
                            <i class="glyphicon glyphicon-pencil"></i> Soạn thư
                        </a>
                    </li>
                </ul>
                
                 
                <div style="clear:both;"></div>
                <div class="panel-group panel-group-lists" style="">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"  href="#collapseThuNoiBo" class="tieu-de-menu" style="color:white;"><i class="glyphicon glyphicon-envelope"></i> Thư nội bộ</a>
                            </h4>
                        </div>
                        <div id="collapseThuNoiBo" class="panel-collapse collapse in" style="">
                            
                                <div class="list-group">
                                    <a href="@Url.Action("Index", "ThuNoiBo", new { box = "ThuDen"})" class="list-group-item "><i class="glyphicon glyphicon-save"></i> Hộp thư đến</a>
                                    <a href="@Url.Action("Index", "ThuNoiBo", new { box = "DaGui"})" class="list-group-item "><i class="glyphicon glyphicon-send"></i>Thư đã gửi</a>
                                    <a href="@Url.Action("Index", "ThuNoiBo", new { box = "DaXoa"})" class="list-group-item "><i class="glyphicon glyphicon-trash"></i>Thư đã xóa</a>
                                </div>
                            
                        </div>
                    </div>

                    @if (isQuanLyNhanVien || isAdmin)
                    {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"  href="#collapseQuanLyNhanVien" class="tieu-de-menu" style="color:white;">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Quản lý nhân viên
                                </a>
                            </h4>
                        </div>
                        <div id="collapseQuanLyNhanVien" class="panel-collapse collapse" style="">

                            
                            
                                <div class="list-group">                                    
                                        <a href="@Url.Action("Index", "QuanLyNhanVien")" class="list-group-item">
                                            <i class="glyphicon glyphicon-transfer"></i>
                                            Nhập liệu thông tin
                                        </a>   
                                        <a href="@Url.Action("TraCuuLyLichVienChuc", "QuanLyNhanVien")" class="list-group-item">
                                            <i class="glyphicon glyphicon-screenshot"></i>
                                            Tra cứu lý lịch viên  chức
                                        </a>
                                </div>
                            

                        </div>
                    </div>
                    }
                    @if (isAdmin)
                    {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseQuanLyHeThong" class="tieu-de-menu" style="color:white;">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Hệ thống
                                </a>
                            </h4>
                        </div>
                        <div id="collapseQuanLyHeThong" class="panel-collapse collapse" style="">


                            
                                
                                <div class="list-group">
                                    <a href="@Url.Action("NhanVien", "Admin")" class="list-group-item">Tài khoản người dùng</a>
                                    <a href="@Url.Action("PhanQuyen", "Admin")" class="list-group-item">Phân quyền</a>
                                    <a href="@Url.Action("KhoaPhong", "Admin")" class="list-group-item">Khoa phòng</a>

                                    <a href="@Url.Action("ThamSoHeThong", "Admin")" class="list-group-item">Tham số hệ thống</a>
                                    <a href="@Url.Action("Index", "QuanLyDanhMuc")" class="list-group-item">Danh mục</a>
                                </div>
                            

                        </div>
                    </div>
                    }
                    @if (isAdmin || isQuanLyWebsite)
                    {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseQuanLyWebsite" class="tieu-de-menu" style="color:white;">  
                                    <i class="glyphicon glyphicon-globe"></i>
                                    Website
                                </a>
                            </h4>
                        </div>
                        <div id="collapseQuanLyWebsite" class="panel-collapse collapse" style="">


                            

                                <div class="list-group panel">
                                    
                                        <a href="@Url.Action("Index", "QuanLyBaiViet")" class="list-group-item" style="width:100%">
                                            <i class="glyphicon glyphicon-list-alt"></i>
                                            Danh sách bài viết
                                        </a>
                                    
                                </div>
                            

                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a>
                            <span style="font-size:18px; font-weight:bold;">
                                @ViewBag.PanelTitle
                            </span>                            
                            
                        </h3>
                    </div>
                    <div class="panel-body">

                        @RenderBody()
                    </div><!-- panel body -->
                </div>
            </div><!-- content -->
        </div>

    </div>
    <!--footer-->
    @*<div class="site-footer">
        <div class="container">

            <div class="copyright clearfix">
                <p><b>BỆNH VIỆN PHỤC HỒI CHỨC NĂNG ĐỒNG THÁP</b>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p>Bản quyền thuộc về Nguyễn Hồng Thanh - <a href="javascript:void(0);">ng.hong.thanh@gmail.com</a></p>
                <br/>
                Session time out: @Session.Timeout
            </div>
        </div>
    </div>*@
    <script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/scripts/jquery.mask.js"></script>
    <script src="~/scripts/core-scripts/sweetalert2.all.min.js"></script>
    <script src="~/scripts/core-scripts/th.core.js"></script>
    
</body>
</html>
