
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    PHCN.NhanVien.Models.PHCNEntities db = new PHCN.NhanVien.Models.PHCNEntities();
    var listBaiVietWeb = db.BaiVietWeb.Where(x => x.Xoa != true && x.HienThiTrenTrangChu == true).OrderByDescending(x => x.MaBaiViet).Take(6).ToList();
    //var listHinhAnh = db.HinhAnh.Where(x => x.LoaiHinhAnh == "baivietweb" && x.Xoa != true).ToList();
    ViewBag.PageTitle = "Trang chủ";
}

<style>
    .hinh-anh{
        border:3px solid green;
    }
    .hinh-anh:hover {
        box-shadow:2px 2px 5px gray;
    }
    .tieu-de-tin-tuc:hover {
        color:#076300;
    }
</style>
<section id="main-slider" class="no-margin">
    @*<div class="carousel slide">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url('@Url.Content("~/Content/home/images/slider/bvphcndt-banner.jpg")')">
            </div>
            <div class="item active" style="background-image: url('@Url.Content("~/Content/home/images/slider/bvphcndt-banner2.jpg")')">
            </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->
    </div>*@
    <div id="carousel-content-row-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-content-row-generic" data-slide-to="0" class="active"></li>
            @*<li data-target="#carousel-content-row-generic" data-slide-to="1"></li>*@            
        </ol>
        <div class="carousel-inner">
            @*<div class="item active">
                <img src="dist/img/slider1.jpg">
            </div>
            <div class="item">
                <img src="dist/img/slider2.jpg">
            </div>*@
            @*<div class="item active">
                <img src="@Url.Content("~/Content/home/images/slider/bvphcndt-banner.jpg")" style="width:100%;">
            </div>*@
            <div class="item active">
                <img src="@Url.Content("~/Content/home/images/slider/bvphcndt-banner2.jpg")"  style="width:100%;">
            </div>
        </div>
        
    </div>
    <!--/.carousel-->
    <div id="DichVu"></div>
</section>
<!--/#main-slider-->

<div class="feature">
    <div class="container">
        <div class="text-center">
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <i class="fa fa-book"></i>
                    <h2>Khám bệnh đa khoa</h2>
                    <p>Khám nội khoa, ngoại khoa, da liễu, tai mũi họng, răng hàm mặt</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <i class="fa fa-laptop"></i>
                    <h2>Điều trị ngoại trú</h2>
                    <p>Thực hiện vật lý trị liệu, phục hồi chức năng</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <i class="fa fa-heart-o"></i>
                    <h2>Điều trị nội trú</h2>
                    <p>Điều dưỡng người cao tuổi, điều trị bằng y học cổ truyền</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                    <i class="fa fa-cloud"></i>
                    <h2>Khám sức khỏe</h2>
                    <p>Bổ sung hồ sơ lái xe, xin việc, định kỳ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center wow fadeInDown">
        <a class="btn btn-lg btn-default" href="@Url.Action("BangGiaVienPhi", "TraCuu")" style="border:1px solid #cbcbcb;">Bảng giá viện phí</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-lg btn-default" href="@Url.Action("DanhMucKyThuat", "TraCuu")" style="border:1px solid #cbcbcb;">Danh mục kỹ thuật</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-lg btn-default" href="@Url.Action("SoDoToChuc", "TraCuu")" style="border:1px solid #cbcbcb;">Sơ đồ tổ chức</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-lg btn-default" href="@Url.Action("CoCauNhanSu", "TraCuu")" style="border:1px solid #cbcbcb;">Cơ cấu nhân sự</a>
    </div>
    
    <div id="GioiThieu"></div>
    
</div>

<div class="about" style="background-color:#076300;">
    <div class="container">
        <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            @*<h2 style="color:white;">về chúng tôi</h2>*@

            <img src="~/Content/home/images/slider/bvphcndt-avatar.jpg" class="img-responsive" />
            @*<p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
                    pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                </p>*@
        </div>

        <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <h2 style="color:white;">BỆNH VIỆN PHỤC HỒI CHỨC NĂNG</h2>
            <p>
                <h3 style="color:white;">
                    Được trang bị nhiều máy móc chuyên khoa vật lý trị liệu phục vụ người bệnh

                </h3>
                <ul>
                    <li><h4 style="color:white">Máy siêu âm điều trị</h4></li>
                    <li><h4 style="color:white">Điện xung</h4></li>
                    <li><h4 style="color:white">Laser nội mạch</h4></li>
                    <li><h4 style="color:white">Máy kéo cột sống cổ, cột sống thắt lưng</h4></li>
                    <li><h4 style="color:white">Bó sáp parafin</h4></li>
                    <li><h4 style="color:white">Dụng cụ hoạt động trị liệu</h4></li>

                </ul>

            </p>
            <br /><br />
            <a class="btn btn-lg btn-success" href="@Url.Action("Index","TinTuc", new { @TenChuyenMucRewrite = "gioi-thieu"})">Xem thêm...</a>
            
            
        </div>
    </div>
    <div id="TinTuc"></div>
</div>

<div class="lates">
    <div class="container">
        <div class="text-center">
            <h2>Tin mới</h2>
        </div>

        @{ 
            int count = 0;
        }

        @foreach (var item in listBaiVietWeb)
        {
            count++;
            var listHinhAnh = db.HinhAnh.Where(x => x.LoaiHinhAnh == "baivietweb" && x.MaBaiViet == item.MaBaiViet && x.Xoa != true && x.DaiDienBaiVietWeb == true).OrderByDescending(x => x.MaHinhAnh).ToList();


            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                @if (listHinhAnh.Any())
                {
                    
                    @*<img src="@(listHinhAnh.First().DuongDan + listHinhAnh.First().TenFileDayDu)" class="img-responsive" />*@
                    <a href="@(HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/tin-tuc/" + item.ChuyenMuc.TenChuyenMucRewrite + "/" + item.TieuDeRewrite + "." + item.MaBaiViet + ".html")">
                        <div class="hinh-anh" style="background-image:url('@(listHinhAnh.First().DuongDan + listHinhAnh.First().TenFileDayDu)'); width:100%; height:200px; background-size: cover;">
                        </div>
                    </a>

                    
                }
                else
                {

                    <a href="@(HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/tin-tuc/" + item.ChuyenMuc.TenChuyenMucRewrite + "/" + item.TieuDeRewrite + "." + item.MaBaiViet + ".html")">
                        <div class="hinh-anh" style="background-image:url('@Url.Content("~/Content/img/no-image.jpg")'); width:100%; height:200px; background-size: cover;">
                        </div>
                    </a>

                    
                }

                <h4>
                    <a class="tieu-de-tin-tuc" href="@(HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + "/tin-tuc/" + item.ChuyenMuc.TenChuyenMucRewrite + "/" + item.TieuDeRewrite + "." + item.MaBaiViet + ".html")">
                        @item.TieuDe
                    </a>
                    
                </h4>
                <p>
                    @item.TomTat
                </p>
            </div>

            if (count == 3 || count == 6)
            {
                <div style="clear:both;"></div>
            }
        }
        
        
        <div style="clear:both;"></div>
        
        
        <div class="text-center">
            <br />
            <a class="btn btn-lg btn-default" href="@Url.Action("Index", "TinTuc")" style="border:1px solid #cbcbcb;">Xem thêm...</a>
        </div>
    </div>
</div>



<section>

    
    <div class="map">
        <div class="mapouter">
            <div class="gmap_canvas"><iframe style="width:100%;  height:500px;" id="gmap_canvas" src="https://maps.google.com/maps?q=b%E1%BB%87nh%20vi%E1%BB%87n%20ph%E1%BB%A5c%20h%E1%BB%93i%20ch%E1%BB%A9c%20n%C4%83ng%20%C4%91%E1%BB%93ng%20th%C3%A1p&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
            <style>
                .mapouter {
                    text-align: right;
                    height: 500px;
                    width: 100%;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 100%;
                }
            </style>
        </div>
    </div>
</section>
